.contacts {
    &__link {
            @extend %link;
            display: flex;
            align-items: center;

@include mq(tab-only) {
      gap: 8px;
    }

    @include mq(desk) {
        gap: 10px;
    }
}

  &__icon {

    display: flex;
    align-items: center;
    justify-content: center;
      @include mq(mob-only) {
          display: none;
      }

      fill: currentColor;
  }

  &__list {
      @extend %list;
    margin-left: auto;

      @include mq(tab-only) {
font-size: 12px;
    line-height: calc(14 / 12);
      }


      @include mq(desk) {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
      }

}

&__item {
    @include mq(tab-only) {
        &:first-child {
            margin-bottom: 10px;
        }
    }
}

 


  }

        
    
   
        
