.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-cl);

    &__container {

        @include mq(mob-only) {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 60px;
        }

@include mq(tab-only) {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

        @include mq(desk) {
            display: flex;
                align-items: baseline;
                gap: 70px;
        }
       
    }

    &__box {

        @include mq(mob-only) {
            display: flex;
            flex-direction: column;
        gap: 60px;
        }

        @include mq(tab-only) {
display: flex;
gap: 165px;
justify-content: center;
        }

        @include mq(desk) {
            display: flex;
            align-items: baseline;
            gap: 70px;
        }
    }
    
    &__address {
        color: var(--secondary-txt-cl);

        @include mq(tab-only) {
text-align: center
        }
    }
    
    &__logo {
        @extend %link;
        margin-bottom: 20px;
    
        &--white {
            display: inline-block;
            color: var(--secondary-txt-cl);
        }
    }
    
    &__socials {

        @extend %list;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;}
    
    &__subscription {

        @include mq(tab-only) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        @include mq(desk) {
            margin-left: auto;
        }
    
    }
}


.footer-contacts {
    font-style: normal;

    &__list {
    @extend %list;
    }
    
    &__item {
        color: rgba(255, 255, 255, 0.6);
    
        &:not(:last-child) {
            margin-bottom: 9px;
        }

        @include mq(mob-only) {
        &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    
    &__link {
        @extend %link;
    }
    
    &__mail {
        margin-bottom: 9px;
    }
}

.footer-socials {

    @include mq(tab-only) {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 20px;
        color: var(--secondary-txt-cl);
    }
    
    &__link {
        color: var(--light-bg-cl);
        background-color: var(--footer-socials-bg-cl);
    }
}

