.header {

    @include mq(mob-only) {
        font-weight: 700;
            font-size: 24px;
            line-height: calc(28 / 24);
    }

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--header-border-cl);

    &__container {
    display: flex;
    align-items: center;
    }

    &__nav {
       display: flex; 
       justify-content: center;
       align-items: center;
       width: 100%;

       @include  mq(mob-only) {
        display: none;
       }
}

}