.hero {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/main/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--secondary-txt-cl);
    }
}
