.nav {
    
  &__logo {
    @extend %link;

    @include mq(noMob) {
      display: flex;
    }
    
    &--black {
            display: inline-block;
            color: var(--dark-txt-cl);
  }

         @include mq(tab) {
             margin-right: 88px;
         }

  @include mq(desk) {
    margin-right: 93px;
  }
 
  }

  &__list {
    @extend %list;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    color: var(--main-txt-cl);
  }

  &__link {
    @extend %link;

    @include mq(noMob) {
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      

      &--current {
        position: relative;
      }
    }
  }

  &__contacts {
    @include mq(noMob) {
      display: flex;
      gap: 50px;
      margin-left: auto;
    }
  }
}
