.portfolio {
    @extend %section;

    &__list {
        @extend %list;
    }
    
    &__link {
        @extend %link;
        transition: box-shadow var(--transition);
        display: block;
        
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
                1px 4px 6px rgb(0 0 0 / 16%);
        }
    }
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(0);
        transition: transform var(--transition);
    
        .portfolio__link:hover &,
        .portfolio__link:focus & {
            transform: translateY(-100%);
        }
    }
    
    
    &__txt {
        font-size: 18px;
        line-height: calc(28 / 18);
        color: var(--secondary-txt-cl);
    }
    
   &__content {
        padding: 20px 24px;
        border: 1px solid var(--portfolio-border-cl);
    }
    
   &__subtitle {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: calc(36 / 18);
        letter-spacing: 0.06em;
        color: var(--main-txt-cl);
    }
    
    &__desc {
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}
