.team {
    @extend %section;
    padding-top: 0;
    background-color: var(--light-grey-cl);

    &__list {
        @extend %list;
        --card-item: 4;
    }
    
    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    
    &__members {
        text-align: center;
        padding: 30px;
        background: var(--light-bg-cl);
    }
    
    &__subtitle {
        margin-bottom: 10px;
        font-weight: 500;
        color: var(--main-txt-cl);
    }
    
    &__subtitle,
    &__txt {
        font-size: 16px;
        line-height: calc(19 / 16);
    }
    
    &__txt {
        margin-bottom: 16px;
    }
    
    &__socials {
        @extend %list;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
