.modal {
    position: relative;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--light-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 500ms linear, transform 500ms linear;
    
    .backdrop.backdrop--is-hidden & {
        transform: scale(0);
        opacity: 0;
    }
}


.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--light-bg-cl);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &__icon {
        transition: fill var(--transition);
    
        .modal-btn:hover &,
            .modal-btn:focus & {
                fill: var(--accent-txt-cl);
            }
    }
}
